<!--Day 8: Angular Project in google doc -->
<ng-container
*ngIf="isAdminIn; then AdminNavbar; else userNavbar">
</ng-container>
<ng-template #AdminNavbar>

    <app-admin-navbar></app-admin-navbar>

</ng-template>
<ng-template #userNavbar>
    <app-user-navbar></app-user-navbar>
</ng-template>



<router-outlet></router-outlet>

<app-bindings></app-bindings>

<div style="text-align:center">    
    <div style="padding-top: 30px">
      <!--appChangeColor custom Directive-->
      <h1 appMyHighlight>I got colored by Angular Custom Directive</h1>
    </div>
  </div>


<!--<button class="btn btn-primary" type="button">Click me</button> -->


