<div class="container">

    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Author</th>
            <th>Name</th>
            <th>View</th>
        </thead>

        <tbody>
            <tr *ngFor = "let course of courses1 async">
                <td>{{course.id}}</td>
                <td>{{course.author}}</td>
                <td>{{course.name}}</td>
                <td><a routerLink = "/course-details/{{course.id}}">Details</a></td>
            </tr>
        </tbody>
    </table>




<div class="row  m-4">
    <div class="col-md-4 col-lg-3 col-sm-6 " *ngFor = "let course of courses">
        <div class="card m-2 bg-primary  text-white" >
            <div class="card-header">{{course.name}}</div>
            <div class="card-body">
                <img src="829466_man_512x512.png" alt="" class="card-img-top" style="width:100%;">
                <div class="card-body text-center" >
                    <h4 class="card-title">{{course.name}}</h4>
                    <p>Some card data</p>   
                    <p>Some card data</p> 
                    <p>Some card data</p> 
                    <p>Some card data</p>                 

                  <a routerLink = "/course-details/{{course.id}}" class="btn btn-secondary">View Info</a>
                </div>
            </div>
            <div class="card-footer">{{course.id}}</div>
        </div>
</div>
</div>
</div>
